
/* clase de estilo y Color de fondo para el menu*/

.colorMenu{

    background-color: #457373;
}
/*estilos de H1*/

h1{
    color: #f2f1E8;
    text-align: center;
    background-color: #457373;
}

.productos{
    display: flex;
    justify-content: space-evenly;
    background-color: #457373;
    border-bottom: 5px;
    border: #585C4A 2px solid;
    padding: 12px;
}

.productos>div{
    border: #585C4A 4px solid;
    padding: 12px;
    border-radius: 6px;
    background-color: #f2f1E8;
}

h2{
    color: #BC9D7F;
    display: flex;
    justify-content: center;
    background-color: #585C4A;
    border-bottom: #88837A;
}




/*estilos de copy*/
.estilosCopy{
    text-align: center;
}