
body{

    background-color: beige;
}
/* clase de estilo y Color de fondo para el menu*/

.colorMenu{

    background-color: #7ED957;
}

.letrasMenu {
color: #585C4A;
}
/*estilos de H1*/

h1{
    color: #f2f1E8;
    text-align: center;
    background-color: #7ED957;
}




.estilosH2{
    color: #585C4A;
    justify-content: center;
    display: flex;
    border-bottom: solid #f2f1E8;
    border-top: solid #f2f1e8;
    background-color: #7ED957;

}




/*estilos de copy*/
.estilosCopy{
    background-color: #7ED957;
    text-align: center;
}